- orderable = {}
- orderable = { "class" => "nested-form-sortable inputs-vertical-list", data: { orderable:  true}} if field.orderable
%div{orderable}
  = form.render_nested_form field do |nform|
    .nested_fields.well.well-small{"class" => "nested_form_for_#{field.method_name}"}
      %div{"class" => field.orderable ? "nested-form-drag ui-icon ui-icon-grip-dotted-vertical" : ""}
      - if field.nested_form[:allow_destroy] or nform.new_record?
        = nform.link_to_remove '<span class="btn btn-mini btn-danger"><i class="icon-trash icon-white"></i></span>'.html_safe
      = nform.render_fields

  - unless field.nested_form[:update_only] # || !field.inline_add
    .clearfix
      = form.link_to_add "<i class=\"icon-plus icon-white\"></i> #{field.associated_model_config.label}".html_safe,
          field.name, { :class => 'btn btn-info pull-right' }
