.form-import
  - unless form.show_form.new_record?
    %legend Podrobnosti o importu
    = form.show_form.render

    - case form.show_form.resource.state
    - when "not_configured"
      = form.render_configuration
    - when "not_started", "processing"
      = form.render_form do
        .pull-right
          = render "forms/buttons/refresh"

  %legend= t('basepack.import.new_import')
  = form.edit_form.render

  %legend= t('basepack.import.import_list')
  = form.list_form.render
